body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}
.navbar {
  display: flex;
  width: 80%;
  height: 3rem;
  border-radius: 30px;
  background: rgba(244, 242, 236, 0.9);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  justify-content: space-around;
  font-weight: 500;
  align-items: center;
  z-index: 22;
}
.navbar a {
  text-decoration: none;
  color: #007bff;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  transition: color 0.3s;
}
.navbar a:hover {
  color: #0056b3;
}
.container {
  width: 60%;
  margin: auto;
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 5rem; /* Adjusted for navbar */
}
.header {
  text-align: center;
  padding: 20px;
}
.header img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.header h1 {
  margin: 10px 0;
}
.description {
  text-align: center;
  margin: 20px 0;
}
.section {
  margin: 20px 0;
}
.section h2 {
  background-color: #007bff;
  color: white;
  padding: 10px;
  margin: 0;
}
.section ul {
  list-style-type: none;
  padding: 0;
}
.section ul li {
  background-color: #f9f9f9;
  margin: 5px 0;
  padding: 10px;
  border-left: 5px solid #007bff;
}
.skills ul li {
  display: inline-block;
  background-color: #007bff;
  color: white;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
}
.pelatihan ul li {
  display: inline-block;
  background-color: #007bff;
  color: white;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
}
